* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

.wrapper {
  max-width: 2040px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/img2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Karla", sans-serif;
  font-size: 160px;
  font-weight: 500;
  color: white;
  white-space: wrap;
}

.title-title {
  font-family: "Karla", sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.button-container {
  padding: 100px 0 0 0;
}

.button {
  width: 200px;
  height: 60px;
  background-color: white;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-size: 24px;
  font-weight: 400;
  border-radius: 18px;
  border: 2px solid #ccc;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.13),
    6px 6px 6px rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background: linear-gradient(145deg, #f0f0f0, #d9d9d9);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3),
    -8px -8px 16px rgba(255, 255, 255, 0.8);
  transform: scale(1.05);
}

.button:active {
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.2),
    inset -6px -6px 12px rgba(255, 255, 255, 0.7);
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
}
